.dropdown-item {
      display: block; /* 使链接显示为块级元素 */
    }
    
.dataTable thead th {
    background-color: #1a242f; /* 深绿色背景 */
    color: white; /* 白色文字 */
}

/* 自定义下载按钮样式 */
.btn-custom {
  background-color: #1a242f; 
  color: #ffffff; /* 白色字体 */
  border-color: #1a242f; 
}
/* 鼠标悬停时的样式 */
.btn-custom:hover {
  background-color: #007bff; /* 蓝色背景 */
  color: #ffffff; /* 白色字体 */
  border-color: #007bff; /* 蓝色边框 */
}

/* 隐藏原生下载按钮的样式 */
.btn-link {
  background: none!important;
  border: none;
  padding: 0!important;
  /* 下拉菜单项样式 */
  color: #333!important;
  text-align: left;
  white-space: nowrap;
}
.dropdown-menu a {
  cursor: pointer;
  display: block;
  border: 1px solid #ffffff; /* 白色边框 */
  margin: 2px; /* 略微增加间距以展示边框 */
}
/* 调整下拉菜单背景以使白色边框更可见 */
.dropdown-menu {
  background-color: #f8f9fa; /* 浅灰色背景 */
}




/* 自定义模态框样式以垂直居中 */
.modal {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

/* 确保模态框内容垂直居中 */
.modal-dialog {
  margin: 0 !important;
}


/* 隐藏模态框的上下边框线 */
.modal-content {
  border: none !important; /* 移除整个模态框内容的边框 */
}

/* 如果需要单独移除头部和底部的边框线 */
.modal-header,
.modal-footer {
  border: none !important; /* 移除头部和底部的边框线 */
}

/* 修改关闭按钮样式 */
.modal-footer .btn {
  background-color: #409fffff !important; /* 修改按钮背景色 */
  color: white !important; /* 修改按钮文字颜色 */
  border-radius: 4px !important; /* 设置按钮圆角 */
  border: none !important; /* 移除按钮边框 */
  box-shadow: none !important; /* 移除按钮阴影 */
}

/* 鼠标悬浮时按钮的样式 */
.modal-footer .btn:hover {
  background-color: #ff7676 !important; /* 鼠标悬浮时按钮的背景色 */
}

